.header {
    height: 1037px;
    background: #FAFAFA;
}

.header-bg{
    height: 100vh;
    background: #FAFAFA;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50px;
    background-image: url(../images/bg-image.svg);
}

.navbar {
    padding: 20px 0;
    padding-left: 40px;
    padding-right: 40px;
}

.navbar__menu {
    gap: 41px;
}

.navbar__brandName {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
}

.navbar__list a {
    font-size: 14px;
    color: #737373;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
}

.navbar__list {
    gap: 21px;
}

.navbar-item {
    gap: 45px;
}

.navbar-item__login {
    font-size: 14px;
    font-weight: 700;
    color: #FF685B;
    line-height: 22px;
    letter-spacing: 0.20000000298023224px;
}

.navbar-item__join {
    gap: 15px;
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 22px;
    padding: 15px 25px;
    border-radius: 5px;
    background: #FF685B;
    letter-spacing: 0.20000000298023224px;
}

.header-aside {
    gap: 35px;
    width: 599px;
    height: 401px;
    margin-top: 80px;
    flex-direction: column;
    justify-content: center;
}

.header-tag {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #FF685B;
    letter-spacing: 0.10000000149011612px;
}

.headline-sec {
    font-size: 58px;
    font-weight: 700;
    color: #252B42;
    line-height: 80px;
    letter-spacing: 0.20000000298023224px;
}

.sub-headline {
    max-width: 496px;
    font-weight: 400;
    color: #737373;
    line-height: 30px;
    letter-spacing: 0.20000000298023224px;
}

.buttons {
    gap: 10px;
}

.btn {
    font-size: 14px;
    font-weight: 700;
    color: #FF685B;
    line-height: 22px;
    border-radius: 5px;
    padding: 15px 40px;
    border: 1px solid #FF685B;
    background-color: transparent;
    letter-spacing: 0.20000000298023224px;
}

.btn:hover {
    color: #FFFFFF;
    background: #FF685B;
}

.header-cards {
    gap: 30px;
    padding-top: 80px;

}

.card {
    gap: 20px;
    width: 328px;
    height: 288px;
    flex-grow: 1;
    flex-basis: 200;
    background: #FFFFFF;
    flex-direction: column;
    padding: 35px 40px 35px 40px;
    box-shadow: 0px 13px 19px 0px #00000012;
}

.feature-title{
    font-size: 16px;
    font-weight: 700;
    color: #252B42;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
}

.card-border{
    width: 50px;
    border-bottom: 2px solid #FF685B;
}

.feature-paragraph{
    font-size: 14px;
    font-weight: 400;
    color: #737373;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
}

.stats{
    height: 264px;
    max-width: 100%;
    padding: 0px 195px 0px 195px;
}

.stats-number{
    height: 104px;
    font-size: 16px;
    min-width: 238px;
    font-weight: 700;
    color: #252B42;
    line-height: 24px;
    flex-direction: column;
    letter-spacing: 0.10000000149011612px;
}

.meet-experts{
    width: 1050px;
    height: 423.92px;
}

.meet-experts__content{
    gap: 35px;
    width: 507px;
    height: 246px;
    flex-direction: column;
}

.meet-border__top{
    width: 94px;
    border-top: 7px solid #FF685B;
}

.section-title{
    font-size: 40px;
    font-weight: 700;
    color: #252B42;
    line-height: 50px;
    letter-spacing: 0.20000000298023224px;
}

.section-paragraph{
    max-width: 351px;
    font-size: 14px;
    font-weight: 400;
    color: #737373;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
}

.thumb-learn{
    gap: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #FF685B;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
}